{{#groups}}
<div  class="group">

{{#parameters}}
<label>
<div class="name">{{name}}</div>
<div class="value"><input type="{{controlType}}" data-name="{{name}}" data-type="{{type}}" min="{{min}}" max="{{max}}" value="{{value}}" step="{{step}}"  ></div>
</label>
{{/parameters}}

</div>
{{/groups}}
